{% extends "base.html" %}
{% block title %}Library Loan System - Retrieve Users{% endblock %}
{% block content %}
<h1 class="display-4">Retrieve Users</h1>
<div>
 {% if count == 0 %}
 <p>There are no users.</p>
 {% elif count == 1 %}
 <p>There is 1 user.</p>
 {% else %}
 <p>There are {{ count }} users.</p>
 {% endif %}
</div>
<div>
 <table class="table table-striped">
 <thead>
 <tr>
 <th>User ID</th>
 <th>Rating</th>
 <th>Name</th>
 <th>Email</th>
 <th>Subject</th>
 <th>Detail</th>
 <th></th>
 <th></th>
 </tr>
 </thead>
 <tbody>
 {% for user in users_list %}
 <tr>
 <td>{{ user.get_user_id() }}</td>
  <td><img src="{{ url_for('static', filename= user.get_rating()) }}" alt="image " width="80px" height="80px"></td>
 <td>{{ user.get_name() }}</td>
 <td>{{ user.get_email() }}</td>
 <td>{{ user.get_subject() }}</td>
 <td>{{ user.get_details() }}</td>
 <td><a href="/replyUser/{{user.get_user_id()}}" class="btn btn-warning">View</a></td>
 <td>
<!-- Use the same class btn-warning for the Update button -->
  <a href="/update_feedback/{{user.get_user_id()}}"><button class="btn btn-warning"  type="submit">Update</button></a>
 </td>
 </tr>
 {% endfor %}
 </tbody>
 </table>
</div>
{% endblock %}
